 
    .gridslider {
      width: 100%;
      background-color: #fff;
      height: 250px;
           
      
    }

    .gridsliderh1 {
      padding-bottom: 0px;
      padding-top: 0px;
      margin-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #282828;
      
    }

    .slider {
        width: 100%;
        margin: 0px auto;
        max-width: 1100px;
        
     
    }

    .slick-slide {
      margin: 0px 25px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: 1;
    }
    
    .slick-active {
      opacity: 1;
    }

    .slick-current {
      opacity: 1;
    }


      
    button{
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }
    .slide-arrow{
      position: absolute;
      top: 50%;
      margin-top: -15px;
    }
    .prev-arrow{
      left: -40px;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 10px solid #a3a3a3;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
    .next-arrow{
      right: -40px;
      width: 0;
      height: 0;
      border-right: 0 solid transparent;
      border-left: 10px solid #a3a3a3;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }


@media only screen 
and (min-device-width: 300px) 
and (max-device-width: 768px) {

  .gridslider {
   padding: 20px 10px;    
    
  }

  .gridslider h1 {
    color: #282828;
  }

  .slider {
    width: 85%;
    
    
 
}
}